.mdui-appbar-with-searchbar {
  padding-top: 64px;
}

.search-bar {
  display: flex;
  height: 45px;
  background: #ffffff;
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(233, 233, 233);
  ;
}

.search-bar>input {
  flex: 1 1;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 100%;
  outline: none;
  color: rgba(0, 0, 0, .87);
}

.search-bar>input::placeholder {
  color: rgba(0, 0, 0, .54);
}

.search-bar>.mdui-icon {
  margin: 0 16px;
}

.search-bar>.mdui-btn-icon {
  margin: auto 11px;
}

/*暗色模式支持*/
.mdui-theme-layout-dark .search-bar {
  background: #424242;
  border-color: rgb(112, 112, 112);
  ;
}

.mdui-theme-layout-dark .search-bar>input {
  color: white;
}

.mdui-theme-layout-dark .search-bar>input::placeholder {
  color: rgba(255, 255, 255, .70);
}

.image-box {
  margin: auto;
}

.image-show>img {
  width: 100%;
  break-inside: avoid; 
}

@media (max-width: 599.9px) {
  .image-show {
    column-count: 3;
    column-gap: 2px;
  }
}

@media (min-width: 600px) and (max-width: 1023.9px) {
  .image-show {
    column-count: 4;
    column-gap: 4px;
  }
}

@media (min-width: 1024px) {
  .image-show {
    column-count: 5;
    column-gap: 5px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101F1C, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, .3);
  background-clip: padding-box;
  min-height: 28px;
  transition: background-color .3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, .5);
}

@media (max-width: 340px) {
  .mdui-hidden-or {
    display: none !important;
  }
}

.dlc-em {
  text-indent: 2em;
}