<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="/static/css/mdui.min.css" />
    <link rel="stylesheet" href="/static/css/dlc.css" />
    <style type="text/css">
        @font-face {
            font-family: "Block";
            src: url("/static/fonts/block.woff") format("woff");
        }

        body {
            font-family: "Block"
        }
    </style>
    <title>Coplis</title>
</head>

<body class="mdui-theme-primary-blue mdui-theme-accent-blue">

    <div id="head" class="mdui-p-t-4">
        <div id="main-title">
            <div class="mdui-container-fluid mdui-text-center mdui-typo-display-3">Instap 7</div>
        </div>
        <!--
        <div id="search-box" class="mdui-center mdui-m-y-4" style=" min-width: 400px; width: 75%;">
            <div id="search-bar" class="search-bar">
                <button class="mdui-btn mdui-btn-icon mdui-ripple mdui-text-color-theme-icon"
                    style="margin-left:5px;margin-right:5px;">
                    <i class="mdui-icon material-icons">apps</i>
                </button>
                <input id="search" type="search" placeholder="" />
                <button class="mdui-btn mdui-btn-icon mdui-ripple mdui-text-color-theme-icon"
                    style="margin-left:5px;margin-right:5px;">
                    <i class="mdui-icon material-icons">search</i>
                </button>
            </div>
        </div>
        -->
        <div id="tab" class="mdui-tab mdui-tab-centered mdui-m-t-4" style="border-bottom:1px solid rgb(233, 233, 233);"
            mdui-tab>
            <a href="#imagination" class="mdui-ripple">文字流</a>
            <a href="#timespace" class="mdui-ripple">时空维度</a>
            <a href="#letter" class="mdui-ripple">纸张</a>
            <a href="#bye" class="mdui-ripple">最后的话</a>
        </div>
    </div>

    <div id="imagination" class="mdui-container">
        <div class="mdui-center">

            <div>
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">Instap - 记忆体</div>
                    <div class="mdui-card-primary-subtitle">Subtitle</div>
                </div>
                <div class="mdui-card-content mdui-p-t-0">子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」</div>

                <div class="mdui-typo">
                    <hr />
                </div>
            </div>

        </div>
    </div>

    <div id="timespace" class="mdui-container-fluid">

        <div class="image-box">
            <div class="image-show">
                <img src="/static/img/DSCF0005.JPG">
                <img src="/static/img/DSCF0018.JPG">
                <img src="/static/img/DSCF0025.JPG">
                <img src="/static/img/DSCF0044.JPG">
                <img src="/static/img/DSCF0048.JPG">
            </div>
        </div>
    </div>

    <div id="letter">
        letter
    </div>

    <div id="bye">
        bye
    </div>

    <script src="/static/js/mdui.min.js"></script>
</body>

</html>